.search-card {
    background-color: #F0D290;
    width: 250px;
    margin-bottom: 30px;
    border-radius: 12px;
    .list-image {
        width: 140px;
    }
    .name {
        font-size: 20px;
        font-weight: bold;
    }
}